
    <app-panel-box>
        <span panel-title>Beneficiaries</span>
        <div panel-body>
                    
                <!-- <input type="text" placeholder="Filter products" class="form-control" [(ngModel)]="filterProducts"/>
                 <div class="alert alert-success" *ngIf="filterProducts">
                   Filter by:  {{filterProducts}}
                 </div> -->
                 <table class="table table-bordered" *ngIf="beneficiaries && beneficiaries.length">
                         <thead>
                             <tr>
                                 <th>#</th>
                                 <!-- <th>
                                     <button class="btn btn-primary" (click)="toggleImage()">
                                         {{showHideImg ? "Hide image" : "Show Image"}}
                                        </button>
                                 </th> -->
                               
                                 <th>Beneficary ID</th> 
                                <!-- <th>product code</th> 
                                <th>product date</th>
                                <th>product price</th>
                                <th>Rating</th> -->
                            </tr>
                         </thead>
                         <tbody>
            
                         
                     
                     <tr *ngFor="let beneficiary of beneficiaries"> 
                         <!-- | products:filterProducts"> -->
                         <td> 
                                 {{beneficiary.beneficiaryID}}
                        </td>
                         <!-- <td><img [src]="beneficiary.imageUrl" style="width:50px;" *ngIf="showHideImg"/></td>
                         <td>
                             <a [routerLink]="['/product',beneficiary.productCode]">
                                    {{beneficiary.productName}}
                             </a>
                            </td>
                         <td>{{beneficiary.productCode}}</td>
                         <td>{{beneficiary.releaseDate}}</td>
                         <td>{{beneficiary.price}}</td>
                          <td>
                        <app-rating [rating]="beneficiary.starRating" (ratingEvent)="receiveDataFromParent($event)"></app-rating>
                            </td> --> 
                       
                     </tr>
                    </tbody>
                 </table>
             </div>
    </app-panel-box>
        
           




