<div class="panel panel-primary">
    <div class="panel-heading">
        <h2>Beneficiaries</h2>
    </div>
    <div class="panel-body">
        <table class="table table-striped" border='1'>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Delete</th>
                    <!-- <th>Mail</th>
                    <th>Mobile No</th>
                    <th>Action</th> -->
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let beneficiary of beneficiaries">
                    <td>{{beneficiary.accountNo}}</td>
                    <td>{{beneficiary.customerAccount.customerName}}</td>
                    <td><button (click)="deleteBeneficiary(customerId, beneficiary.beneficiaryId)" class="btn btn-danger">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <td><button (click)="createBeneficiary()" class="btn btn-danger">Create</button>
        </td>
    </div>
</div>

