<app-panel-box>
    <span>customer Bank List</span>
    <div panel-body>
        <!-- <input type="text" placeholder="Filter products" class="form-control" [(ngModel)]="filterProducts"/> -->
        <!-- <div class="alert alert-success" *ngIf="filterProducts">
          Filter by:  {{filterProducts}}
        </div> -->
        <table class="table table-bordered" *ngIf="customerBankLists && customerBankLists.length">
            <thead>
                <tr>
                    <th>#</th>
                    <!-- <th>
                        <button class="btn btn-primary" (click)="toggleImage()">
                            {{showHideImg ? "Hide image" : "Show Image"}}
                           </button>
                    </th> -->
                  
                   <th>Account Id</th> 
                   <th>Customer Account</th> 
                   <th>Balance </th>
                   <th>Transaction</th>
                   <th>Approve</th>
                   <th>Date of Approval </th>
                   <th>Bank Account Type</th>
               </tr>
            </thead>
            <tbody>

            
        
        <tr *ngFor="let customerBankList of customerBankLists">
            <td> 
                    {{customerBankList.accountId}}
       </td>
            <!-- <td><img [src]="product.imageUrl" style="width:50px;" *ngIf="showHideImg"/></td> -->
            <!-- <td>
                <a [routerLink]="['/product',product.productCode]">
                       {{product.productName}}
                </a>
            </td> -->
            <td>{{customerBankList.customerAccount}}</td>
            <td>{{customerBankList.balance}}</td>
            <td>{{customerBankList.transaction}}</td>
            <td>{{customerBankList.approve}}</td>
            <td>{{customerBankList.dataofApproval}}</td>
            <td>{{customerBankList.bankAccountType}}</td>
            <!-- <td>
           <app-rating [rating]="product.starRating" (ratingEvent)="receiveDataFromParent($event)"></app-rating>
               </td> -->
          
        </tr>
       </tbody>
    </table>

    </div>
</app-panel-box>


